@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Indigo */
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-grey-700);

  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
}

input,
button {
  font: inherit;
  color: inherit;
}

/* button {
  cursor: pointer;
} */

input:focus,
button:focus {
  outline: 2px solid var(--color-brand-600);
  outline-offset: -1px;
}

/* ul {
  list-style: none;
} */

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* img {
  max-width: 100%;
} */
